.alert {
  @include border-radius(3px);
  @include box-shadow(0 0 10px map-get($color, gray));
  text-align:left;
  padding: 15px 0;
  max-width: 300px;
  right: 15px;
  position: fixed;
  z-index: 9999;
  display: none;
  transition: transform 5s ease-in-out;
  box-sizing: border-box;
  &:hover {
    @include box-shadow(0 0 10px map-get($color, secondary));
    opacity: 1;
    cursor: pointer;
  }
  .alert-icon {
    @include border-radius(50%);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    line-height: 24px;
    display: inline-block;
    font-size: 28px;
  }
  .alert-content {
    padding: 0 48px;
  }
}
.alert-success {
  @include alert-variant(map-get($color, alert-success-bg), map-get($color, alert-success-border), map-get($color, white));
  .alert-icon {
    color: map-get($color, alert-success-text);
  }
}
.alert-info {
  @include alert-variant(map-get($color, alert-info-bg), map-get($color, alert-info-border), map-get($color, white));
  .alert-icon {
    color: map-get($color, alert-info-text);
  }
}
.alert-warning {
  @include alert-variant(map-get($color, alert-warning-bg), map-get($color, alert-warning-border), map-get($color, white));
  .alert-icon {
    color: map-get($color, alert-warning-text);
  }
}
.alert-danger {
  @include alert-variant(map-get($color, alert-danger-bg), map-get($color, alert-danger-border), map-get($color, white));
  .alert-icon {
    color: map-get($color, alert-danger-text);
  }
}
