.alert {
  @include border-radius(4px);
  text-align:left;
  padding: 15px 0;
  max-width: 500px;
  right: 0;
  position: absolute;
  display: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  .alert-icon {
    @include border-radius(50%);
    color: map-get($color, white);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
  }
  .alert-content {
    padding: 0 60px;
    p {
      margin-bottom: 0;
    }
  }
  .alert-close {
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }
}
.alert-success {
  @include alert-variant(map-get($color, alert-success-bg), map-get($color, alert-success-border), map-get($color, alert-success-text));
  .alert-icon {
    background: map-get($color, alert-success-text);
  }
}

.alert-info {
  @include alert-variant(map-get($color, alert-info-bg), map-get($color, alert-info-border), map-get($color, alert-info-text));
  .alert-icon {
    background: map-get($color, alert-info-text);
  }
}

.alert-warning {
  @include alert-variant(map-get($color, alert-warning-bg), map-get($color, alert-warning-border), map-get($color, alert-warning-text));
  .alert-icon {
    background: map-get($color, alert-warning-text);
  }
}

.alert-danger {
  @include alert-variant(map-get($color, alert-danger-bg), map-get($color, alert-danger-border), map-get($color, alert-danger-text));
  .alert-icon {
    background: map-get($color, alert-danger-text);
  }
}
.show-alert {
  display: block;
  top : 12px;
  right: 15px;
}
