// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);
$color: (
  primary: #30b9c1,
  hover-color: #13a6b6,
  secondary: #424242,
  border: #e0e0dd,
  white: #ffffff,
  white-c: #fcfcfc,
  white-e: #eeeeee,
  rgba-black: rgba(0, 0, 0, 0.07),
  gray: #a7a5a5,
  gray-a: #e8e7e7,
  gray-b: #f3f3f3,
  red: #d35344,
  alert-success-bg: #dff0d8,
  alert-success-text: #3c763d,
  alert-success-border: darken(adjust-hue(#dff0d8, -10), 5%),
  alert-info-bg: #d9edf7,
  alert-info-text: #31708f,
  alert-info-border: darken(adjust-hue(#d9edf7, -10), 7%),
  alert-warning-bg: #fcf8e3,
  alert-warning-text: #8a6d3b,
  alert-warning-border: darken(adjust-hue(#fcf8e3, -10), 5%),
  alert-danger-bg:#f2dede,
  alert-danger-text: #a94442,
  alert-danger-border: darken(adjust-hue(#f2dede, -10), 5%),
);


$font-size: (
  xs: 10px,
  sm: 12px,
  normal: 14px,
  lg: 24px,
);
$font-family: (
  body: "montserrat, sans-serif",
);
